<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: rgba(30, 26, 26, .98);">
    <a class="navbar-brand" href="#">KUDOS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul id='topNavBar'>
	  <li id="link1"><a class="nav-link" href="/admin">Admin</a></li>
	  <li id="link2"><a class="nav-link" href="/manager">Manager</a></li>
	  <li id="link3"><a class="nav-link" href="/create">Create</a></li>
	  <li id="link4"><a class="nav-link" href="/awards">Create Award</a></li>
	  <li id="link5"><a class="nav-link" href="/stats">Statistics</a></li>
	  <li id="link6"><a class="nav-link" href="/sig">Update Signature</a></li>
	  <li id="link7"><a class="nav-link" href="/account">Account</a></li>
	  <li id="link8"><a class="nav-link" href="/login">Log In</a></li>
	  <li id="link9"><a class="nav-link" href="/logout">Logout</a></li>
	</ul>
    
</nav>
