<!doctype html>

<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap" rel="stylesheet"> 
  <%- include('partials/head') %>
  <link rel="stylesheet" type="text/css" href="./assets/account.css">
  <%- include('partials/navbar') %>
  <script>  document.getElementById("link2").classList.add("active") 
            document.getElementById("link1").remove()
            document.getElementById("link3").remove()
			document.getElementById("link8").remove()
			
  </script>
</head>

<body>

  <div id='titleSpace'>
    <div id='pageTitle'>Update Password</div>
  </div>
  
  <div id='accountInfo'>
    <form action="/accountpass" method="post">
      <div class='container'>
        <label for="typ"> Enter New Password: </label>
        <input type="password" name="newpass" placeholder="New Password">
      </div>
  	<br>
  	<button id='submitButton' type="Submit" value="Update Password">Update Password</button> 
    </form>
  </div>

</body>
</html>

