<!doctype html>

<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
<%- include('partials/navbar') %>
<script>  document.getElementById("link3").classList.add("active") 
          document.getElementById("link2").remove()  
          document.getElementById("link4").remove()
          document.getElementById("link6").remove()
          document.getElementById("link7").remove()
</script>
<div class="page-heading">
    <h3 class="text-center">New Account Creation</h3>
</div>

<div class="row">
    <div class="card mx-auto col-4">
  <form action="/create" method="post" >
      <ul>
          <li>
              <label for="createFirst">First Name: </label>
              <input type="text" id="createFirst" name="userFirst" placeholder="First Name" >
          </li>

          <li>
              <label for="createLast">Last Name: </label>
              <input type="text" id="createLast" name="userLast" placeholder="Last Name" >
          </li>

          <li>
              <label for="createEmail">Email: </label>
              <input type="email" id="createEmail" name="userEmail" placeholder="Enter Email Here" >
          </li>

          <li>
              <label for="createPassword">Password</label>
              <input type="password" id="createPassword" name="userPass" placeholder="Enter Password" >
          </li>

          <li>
              <input type="radio" id="adminRadio" name="accountType" value="admin">
              <label for="adminRadio">Admin Account</label>
              <input type="radio" id="mangRadio" name="accountType" value="manager" checked="checked">
              <label for="mangRadio">Manager Account</label>
          </li>
      </ul>
    <button>Create Account</button> 
  </form>
    </div>
</div>

  <%- include('partials/footer') %>
  <%- include('partials/footscripts') %>
</body>
</html>
