<!doctype html>

<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" type="text/css" href="login.css" >
</head>

<body>
<%- include('partials/navbar') %>
<script>  document.getElementById("link3").classList.add("active") 
          document.getElementById("link2").remove()  
          document.getElementById("link4").remove()
          document.getElementById("link6").remove()
          document.getElementById("link9").remove()
          document.getElementById("link8").remove()
</script>
<div class="page-heading">
    <h3 class="text-center">New Account Creation</h3>
</div>

<div class="row">
    <div class="card mx-auto col-4">
  <form action="/create" method="post" >
      <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="createFirst">First Name: </label>
              <input class="col-sm-8 form-control-sm" type="text" id="createFirst" name="userFirst" placeholder="First Name" >
        

        
              <label class="col-sm-4 col-form-label" for="createLast">Last Name: </label>
              <input class="col-sm-8 form-control-sm" type="text" id="createLast" name="userLast" placeholder="Last Name" >
        

        
              <label class="col-sm-4 col-form-label" for="createEmail">Email: </label>
              <input class="col-sm-8 form-control-sm" type="email" id="createEmail" name="userEmail" placeholder="Enter Email Here" >
        

        
              <label class="col-sm-4 col-form-label" for="createPassword">Password</label>
              <input class="col-sm-8 form-control-sm" type="password" id="createPassword" name="userPass" placeholder="Enter Password" >
        

        
              <input class="col-sm-2 form-control" type="radio" id="adminRadio" name="accountType" value="admin">
              <label class="col-sm-10 col-form-label" for="adminRadio">Admin Account</label>
              <input class="col-sm-2 form-control" type="radio" id="mangRadio" name="accountType" value="manager" checked="checked">
              <label class="col-sm-10 col-form-label" for="mangRadio">Manager Account</label>
        
      </div>
    <button class="btn btn-primary">Create Account</button> 
  </form>
    </div>
</div>

  <%- include('partials/footer') %>
  <%- include('partials/footscripts') %>
</body>
</html>
