<!doctype html>

<html lang="en">

<head>
  <%- include('partials/head') %>
  
  <link href="https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="./assets/login.css">
</head>

<body>
<%- include('partials/navbar') %>
<script>  document.getElementById("link8").remove()
          document.getElementById("link1").remove()
          document.getElementById("link2").remove()
          document.getElementById("link3").remove()
          document.getElementById("link5").remove()
          document.getElementById("link6").remove()
          document.getElementById("link7").remove()
          document.getElementById("link4").remove()
          document.getElementById("link9").remove()
</script>

<div id='barAndLoginSpace'></div>

<div id='insidePage'>
  <div id='pageTitle'>
	  Kudos Employee Recognition Portal
  </div>
  <h5 id="slogan">Making employee recognition possible for the last week!</h5>

  <div id="UserInfo">
      <div id="enterYourInfo">Please Enter Your Info Below</div>
      <form action="/login" method="post" >
        <div class='container'>
          <label for="authEmail" id='authText'>Email:</label>
          <input type="email" id="authEmail" name="userEmail" placeholder="Email" >
	    </div>
	    <div class='container'>
          <label for="createPassword" id='authText'>Password:</label>
          <input type="password" id="createPassword" name="userPass" placeholder="********" >
        </div>
        <button id='submitButton' type="Submit" value="Log In">Log In</button>
	<div id="forgotPassword">
            <a href="/forgot" class=""><button type="button" class="btn btn-secondary">Forgot Password</button></a>
        </div>
      </form>
    </div>
</div>

<%- include('partials/footer') %>
<%- include('partials/footscripts') %>

</body>
</html>

