<!doctype html>


<html lang="en">

<head>
  <meta charset="utf-8">
  <title>DATA PAGE</title>
  <link rel="stylesheet" href="#">
</head>

<body>
  <a href="/admin">Admin Page</a>
  <a href="/manager">Manager Page</a>
  <a href="/create">Create Page</a>
  <a href="/login">Login Page</a>
<h1>this is the Manager page</h1>
</body>
</html>