body{
	background-image: none;
	background-color: rgba(93,188,210);
	background-repeat: no-repeat;
}

#pageTitle{
	background-color: rgba(255, 255, 255, .95);
	border-radius: 10px;
	color: black;
    font-family: 'Spartan';
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	opacity: .8;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

#titleSpace{
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 37%;
	padding-right: 37%;
}

li{
	float: left;
}

li a {
  
  display: block;
  color: white;
  font-family: 'Spartan';
  font-size: 14px;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(255, 255, 255, .95);
  color: black !important;
  border-radius: 10px;
}

#link9 {
  float: right;
  border-radius: 10px;
}

.table{
  border-radius: 10px;
  outline: none;
}

#tables{
  padding-left: 2%;
  padding-right: 2%;
}

#topNavBar{
	border-radius: 10px;
	background: rgba(30, 26, 26, .98);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100%;
}
