body{
	background-color: rgba(93,188,210);
	background-image: none;
	background-repeat: no-repeat;
	background-size: stretch;
	width: 100%;
}

#pageTitle{
	background-color: rgba(255, 255, 255, .95);
	border-radius: 10px;
	color: black;
    font-family: 'Spartan';
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	opacity: .8;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

#titleSpace{
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 37%;
	padding-right: 37%;
}

li{
	float: left !important;
}

li a {
  
  display: block !important;
  color: white !important;
  font-family: 'Spartan' !important;
  font-size: 14px !important;
  text-align: center !important;
  padding: 16px 16px !important;
  text-decoration: none !important;
}

li a:hover {
  background-color: rgba(255, 255, 255, .95) !important;
  color: black !important;
  border-radius: 10px !important;
}

#link9 {
  float: right !important;
  border-radius: 10px !important;
}

#submitButton{
	border-radius: 10px;
	background-color: rgb(30, 26, 26);
	color: white;
	display: inline-block;
	font-family: 'Spartan';
	font-size: 14px;
	padding: 15px 40px;
	text-align: center;
}

#submitButton:hover{
  background-color: rgba(30, 26, 26, 0.9);
}

.table{
  border-radius: 10px;
  outline: none;
}

#tables{
  padding-left: 2%;
  padding-right: 2%;
}

#topNavBar{
	border-radius: 10px;
	background: rgba(30, 26, 26, .98);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100%;
}
