<!doctype html>

<html lang="en">

<head>
  <%- include('partials/head') %>
  <link href="https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="./assets/create.css">
  <%- include('partials/navbar') %>
  
  <script>  
    document.getElementById("link1").classList.add("active") 
    document.getElementById("link2").remove()
    document.getElementById("link4").remove()
    document.getElementById("link6").remove()
    document.getElementById("link7").remove()
    document.getElementById("link8").remove()
  </script>
  
  <script type="text/javascript" src="./assets/tabscript.js"></script>
    
</head>

<body>
  <div id='titleSpace'>
    <div id='pageTitle'>New Account Creation</div>
  </div>

  <div id='entryData'>  
    <div id='formTabs'> 
      <div class="tab">
        <button class="tablinks" onclick="openTabForm(event, 'manager')">Manager</button>
	    <button class="tablinks" onclick="openTabForm(event, 'admin')">Admin</button>
      </div>
    </div>
     
    <div id='manager' class="tabcontent">
	  <br>
      <form action="/create" method="post" >
	  	<div class='container'>
            <label for="createFirst" id='authText'>First Name: </label>
            <input type="text" id="createFirst" name="userFirst" placeholder="First Name" >
	    </div>
	  	<div class='container'>
            <label for="createLast" id='authText'>Last Name: </label>
            <input type="text" id="createLast" name="userLast" placeholder="Last Name" >
	    </div>
	  	<div class='container'>
            <label for="createEmail" id='authText'>Email: </label>
            <input type="email" id="createEmail" name="userEmail" placeholder="Enter Email Here" >
	    </div>
	  	<div class='container'>
            <label for="createPassword" id='authText'>Password: </label>
            <input type="password" id="createPassword" name="userPass" placeholder="Enter Password" >
	    </div>
	  	<div id='toBeHidden' class='container'>
            <input type="radio" id="adminRadio" name="accountType" value="admin">
            <label for="adminRadio">Admin Account</label>
            <input type="radio" id="mangRadio" name="accountType" value="manager" checked="checked">
            <label for="mangRadio">Manager Account</label>
	    </div>
	  	<br>
        <button id='submitButton' type="Submit" value="admin">Create Account</button>  
      </form>
    </div>
  
    <div id="admin" class="tabcontent">
      <form action="/create" method="post" >
	    <br>
	    <div class='container'>
            <label for="createEmail" id='authText'>Email: </label>
            <input type="email" id="createEmail" name="userEmail" placeholder="Enter Email Here" >
	    </div>
	    <div class='container'>
            <label for="createPassword" id='authText'>Password: </label>
            <input type="password" id="createPassword" name="userPass" placeholder="Enter Password" >
        </div>
        <div id='toBeHidden' class='container'>
            <input type="radio" id="adminRadio" name="accountType" value="admin">
            <label for="adminRadio">Admin Account</label>
            <input type="radio" id="mangRadio" name="accountType" value="admin" checked="checked">
            <label for="mangRadio">Manager Account</label>
        </div>
	    <br>
        <button id='submitButton' type="Submit" value="admin">Create Account</button> 
      </form>
    </div>
  </div>
  
</body>
</html>
