#authText{
	font-family: 'Spartan';
	font-size: 14px;
	text-align: left;
	padding-left: 10%;
}

#awardInfo{
  background-color: white;
  border-radius: 10px;
  width: 575px;
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

body{
	background-color: rgba(93,188,210);
	background-repeat: no-repeat;
	background-size: stretch;
	width: 100%;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2.75fr;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}


#createPassword{
	margin-right: 15%;
}

.form{
  padding-top: 30px;
}

li{
	float: left;
}

li a {
  
  display: block;
  color: white;
  font-family: 'Spartan';
  font-size: 14px;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(255, 255, 255, .95);
  color: black;
  border-radius: 10px;
}

#link9 {
  float: right;
  border-radius: 10px;
}

#pageTitle{
	background-color: rgb(241, 241, 242);
	border-radius: 10px;
	color: black;
    font-family: 'Spartan';
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	opacity: .8;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	width: 575px;
}

#titleSpace{
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 35%;
	padding-right: 35%;
}

#topNavBar{
	border-radius: 10px;
	background: rgba(30, 26, 26, .98);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100%;
}

#submitButton{
	border-radius: 10px;
	background-color: rgb(30, 26, 26);
	color: white;
	display: inline-block;
	font-family: 'Spartan';
	font-size: 14px;
	padding: 15px 40px;
	text-align: center;
}

#submitButton:hover{
  background-color: rgba(30, 26, 26, 0.9);
}