#acceptSig{
	border-radius: 10px;
	background-color: rgb(30, 26, 26);
	background-image: none;
	color: white;
	display: inline-block;
	font-family: 'Spartan';
	font-size: 14px;
	padding: 15px 40px;
	text-align: center;
}

#acceptSig:hover{
	background-color: rgba(30, 26, 26, 0.9);
}

body{
	background-color: rgba(93,188,210);
	background-repeat: no-repeat;
	background-size: stretch;
	width: 100%;
}

#buttonSpace{
	display: inline-block;
	padding-top: 2%;
	text-align: center;
	width: 100%;
}

#clearSig{
	border-radius: 10px;
	background-color: rgb(30, 26, 26);
	color: white;
	display: inline-block;
	font-family: 'Spartan';
	font-size: 14px;
	padding: 15px 40px;
	text-align: center;
}

#clearSig:hover{
	background-color: rgba(30, 26, 26, 0.9);
}

#pageTitle{
	background-color: rgba(255, 255, 255, .95);
	border-radius: 10px;
	color: black;
    font-family: 'Spartan';
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	opacity: .8;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

#signature{
	text-align: center;
}

#signatureparent{
	text-align: center;
}

#titleSpace{
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 20%;
	padding-right: 20%;
}

li{
	float: left;
}

li a {
  display: block;
  color: white;
  font-family: 'Spartan';
  font-size: 14px;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(255, 255, 255, .95);
  color: black;
  border-radius: 10px;
}

#link9 {
  float: right;
  border-radius: 10px;
}

#topNavBar{
	border-radius: 10px;
	background: rgba(30, 26, 26, .98);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100%;
}