body{
    background-color: black;
    background-image: url(https://cdn.pixabay.com/photo/2018/10/12/11/11/award-3741918_960_720.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.page-heading{
    background-color: rgba(15,15,15,.8);
    color: rgb(210,210,210)
}

