body{
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1547990184-ebdd16abf5b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80);
	background-repeat: no-repeat;
	background-size: cover;
}

.page-heading{
    background-color: rgba(15,15,15,.8);
    color: rgb(210,210,210)
}

